table#questions, #questions {
  margin-top: 40px;
}

.addnewquestionbox {
  padding: 20px;
  background-color: #f9f9f9;
  border-top: 1px solid #444;
  margin-top: 50px;
}

#submitbutton {
  margin-top: 20px;
}

.action-icon {
  margin-right: 10px;
}

.newlineadded {
  background-color: #fdfd96;
  transition: all 0.3s;
}

.action-icon:hover {
  cursor: pointer;
  color: #ff0000;
}
.table>tbody>tr>td {
  padding: 15px;
}

tr.table-hover {
  cursor: default;
}

.input-group {
  margin-top: 20px;
}

.btn-outline-success {
  color: #449d44;
  background-image: none;
  background-color: transparent;
  border-color: #449d44
}

.btn-outline-success:hover {
  color: #fff;
  background-color: #449d44;
  border-color: #449d44
}

td.linkme:hover {
  cursor: pointer;
  text-decoration: underline;
}

.btn-outline-danger {
  color: #d9534f;
  background-image: none;
  background-color: transparent;
  border-color: #d9534f
}

.btn-outline-danger:hover {
  color: #fff;
  background-color: #d9534f;
  border-color: #d9534f
}

.right-choice {
  background-color: #b4ecb4
}

.right-choice td {

}

div#main {
  margin-top: 20px;
}

code {
  color: #c7254e !important;
}

ul.stat {
  list-style-type: none;
}

.navbar-btn {
  margin-left: 10px;
}

.navbar-btn a {
  color: #fff;
}

.editquestion-container {
  margin-top: 80px;
}

#tags, .fullwidth {
  width: 100%;
}

span.tags {
  margin-right: 10px;
}

.gimmeplace {
  margin-top: 100px;
}

.red, .pastel-red {
  color: #ff6961;
}

.total {
  font-size: 12px;
}

input#submission_limit {
  width: 10%;
}

.wrong-answer {
  border: 2px solid #ff0000;
  padding: 15px;
  margin-top: 10px;
}

.grade-progress {
  height: 30px;
}

.grade-progressbar {
  line-height: 30px;
}

.bradge-progress {
  margin-top: 6px;
  margin-right: 10px;
}

div#result-container {
  margin-top: 30px;
}

div#exercise-list {
  margin-top: 30px;
}

.showmyresultsbutton {
  margin-top: -6px;
}

.closedbadge {
  margin-top: -12px;
  background-color: #d9534f;
}

.openbadge {
  margin-top: -12px;
  background-color: #449d44;
}

.warningbadge {
  background-color: #f0ad4e;
  margin-top: -12px;
}

.closedtask {
  background-color: #ff6961;
  color: #fff !important;
}

.closedtask > h4 {
  color: #fff !important;
}

.closedtask:hover{
  color: #444 !important;
}

a.closedtask:hover {
  color: #444 !important;
}

a.closedtask {
  color: #fff !important;
}

.throwmeaway:hover {
  cursor: pointer;
}

.addnewuser {
  margin-top: 100px;
}

div.avatar-container {
  width: 40px;
  height: 40px;
  border-radius: 20px;
  background: transparent;
  position: fixed;
  vertical-align: middle;
  display: table-cell;
}

img#avatar {
  width: 46px;
  margin-top: 2px;
  position: absolute;
  margin-right: 30px;
}
