table#questions, #questions {
  margin-top: 40px;
}

.addnewquestionbox {
  padding: 20px;
  background-color: #f9f9f9;
  border-top: 1px solid #444;
  margin-top: 50px;
}

#submitbutton {
  margin-top: 20px;
}

.action-icon {
  margin-right: 10px;
}

.newlineadded {
  background-color: #fdfd96;
  transition: all 0.3s;
}

.action-icon:hover {
  cursor: pointer;
  color: #ff0000;
}
.table>tbody>tr>td {
  padding: 15px;
}

.table-hover {
  cursor: pointer;
}

.input-group {
  margin-top: 20px;
}

.btn-outline-danger {
  color: #d9534f;
  background-image: none;
  background-color: transparent;
  border-color: #d9534f
}

.btn-outline-danger:hover {
  color: #fff;
  background-color: #d9534f;
  border-color: #d9534f
}

.right-choice {
  background-color: #b4ecb4
}

.right-choice td {

}

div#main {
  margin-top: 20px;
}

code {
  color: #c7254e !important;
}

ul.stat {
  list-style-type: none;
}

.navbar-btn {
  margin-left: 10px;
}
