.signup {
  padding: 10px;
  background-color: $green;
  color: #fff;
  &:hover {
    background-color: $green-hover;
  }
}

.signupedup {
  padding: 10px;
  background-color: $red;
  color: #fff;
  &:hover {
    background-color: $red-hover;
  }
}

.btn-edit {
  padding: 10px;
  border: 1px solid $orange;
  color: $orange;
  &:hover {
    background-color: $orange;
    color: #fff;
  }
}
