#course-list {
  li {
    clear: both;
    display: flex;
    justify-content: space-between;
    .btn {
      display: flex;
      justify-content: end;
    }
  }
}

.course-list-dropdown {
  width: 100%;
}

#course-dropdown {
  left: initial;
  width: 500px;
  li {
    &:hover {
      cursor: pointer;
    }
  }
}
